---
// No props needed
---
<div class="text-black text-xs font-extralight">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent turpis
  dolor, tincidunt eget urna sed, vehicula elementum nibh. Integer sit
  amet tempus erat, id aliquet risus. Nulla et hendrerit mauris, ac
  malesuada tortor. Ut risus ex, commodo quis vestibulum ac, blandit ac
  nunc. Morbi vulputate lacus vel ipsum ullamcorper finibus. Aenean a
  dignissim magna. Donec sodales elementum eros, sit amet convallis lacus
  interdum vitae. Curabitur sed urna sed odio congue aliquam. In auctor
  scelerisque turpis. Curabitur feugiat ut lacus nec sodales. Lorem ipsum
  dolor sit amet, consectetur adipiscing elit. Praesent turpis dolor,
  tincidunt eget urna sed, vehicula elementum nibh. Integer sit amet
  tempus erat, id aliquet risus. Nulla et hendrerit mauris, ac malesuada
  tortor. Ut risus ex, commodo quis vestibulum ac, blandit ac nunc. Morbi
  vulputate lacus vel ipsum ullamcorper finibus. Aenean a dignissim magna.
  Donec sodales elementum eros, sit amet convallis lacus interdum vitae.
  Curabitur sed urna sed odio congue aliquam. In auctor scelerisque
  turpis. Curabitur feugiat ut lacus nec sodales.
</div>
