---
// No props needed
---
<!-- Terminal with a summary about me - takes up most of the space -->
<div class="flex-1 flex flex-col justify-start space-y-4 bg-gray-900 rounded-b-lg lg:rounded-b-none lg:rounded-br-lg p-2">
  <p class="text-[#7FFF00] text-sm font-mono leading-relaxed">
    <span class="text-green-400 text-sm font-mono leading-relaxed">austin</span>
    @
    <span class="text-blue-400 text-sm font-mono leading-relaxed">control_panel:</span>
    <span class="text-red-400 text-sm font-mono leading-relaxed mr-1">~/portfolio/dashboard</span>
    $
    <span class="text-[#7FFF00] ml-2 text-sm font-mono leading-relaxed">cat ~/portfolio/dashboard/the_pilot.txt</span>
  </p>
  <p class="text-[#7FFF00] text-sm font-mono leading-relaxed">
    &gt; Hi there... friends.
  </p>
</div>
